$color-sky: #5ca7db;
$color-primary: #01a1dd;
$color-primary2: #007dac;
$color-graydark2: #343a40;
$color-gray: #252525;
$color-graylight: #404040;
$color-gray2: #191919;
$color-gray3: #999999;
$color-green: #68c92d;
$color-black: #323f48;
$color-white: #ffffff;
$color-offwhite: #f0f7fe;
