<section id="header">
  <div class="root-box">
    <div class="container">
      <div class="header-box">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="https://imgbb.com/"><img alt="logo" border="0" src="https://i.ibb.co/G55rDT8/logo.png"></a>
          <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" id="navbar-toggle" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item text-dark m-3">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item m-3">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item m-3">
                <a class="nav-link" href="#">Pages</a>
              </li>
              <li class="nav-item dropdown m-3">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
                  Elements
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu bg-dark">
                  <a class="dropdown-item text-secondary" href="#">Action</a>
                  <a class="dropdown-item  text-secondary" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item m-3">
                <a aria-disabled="true" class="nav-link" href="#" tabindex="-1">Portfolio</a>
              </li>
              <li class="nav-item m-3">
                <a aria-disabled="true" class="nav-link" href="#" tabindex="-1">Blog</a>
              </li>
            </ul>
          </div>

          <button class="btn btn-default btn-sky rounded-pill" id="free-trial-btn">Free Trial</button>
        </nav>
      </div>
    </div>
  </div>
</section>

<section id="banner mt-4">
  <div class="banner-box d-flex">
    <div class="left-container w-50 mx-5">
      <h1>Grow Your Business With</h1>
      <h1>Our Marketing Solutions.</h1>
      <div class="fs-26 font-weight-light pt-3">
        We help our clients to increase their website traffic, rankings and visibility in search results.
      </div>
      <div class="pt-5">
        <button class="btn btn-default btn-sky rounded-pill">Try it for free</button>
      </div>
    </div>
    <div class="right-container w-50">
      <img alt="rocket3" class="img-rocket3" src="../assets/images/rocket3.png">
      <img alt="rocket2" class="img-rocket2" src="../assets/images/rocket2.png">
    </div>

  </div>
  <div>
    <img alt="rocket1" class="img-rocket1" src="../assets/images/rocket1.png">
  </div>

  <div>
    <button class="btn btn-fixed-explore shadow mr-3 rounded-circle" id="btn-fixed-explore" onclick="toggle_visibility('btn-fixed-explored');">
      <i aria-hidden="true" class="fa fa-cog fa-lg"></i>
    </button>
  </div>

  <div class="btn-fixed-explored rounded-pill mr-2 p-3 shadow" id="btn-fixed-explored">
    <i aria-hidden="true" class="fa fa-lg py-2 fa-heart-o" data-placement="left" data-toggle="tooltip" role="button" title="Demos"></i><br>
    <i aria-hidden="true" class="fa fa-lg py-2 fa-shopping-cart"></i><br>
    <i aria-hidden="true" class="fa fa-lg py-2 fa-question-circle-o"></i>
  </div>
</section>

<section class="bg-offwhite" id="services">
  <div class="d-flex align-items-center flex-column">
    <div class="text-gray3 text-uppercase">What we do?</div>
    <div>
      <h3 class="m-3">The full service we are offering is specifically<br>
        designed to meet your business needs.
      </h3>
    </div>
  </div>
</section>
